.chatbox_container{

    height: 80vh;
    width: 20vw;
    padding: 5px;
    background-color: rgb(226, 225, 225,0.7);
    display: flex;
    flex-direction: column;
 justify-content: space-between;
}
.header{
    background: rgba(0,0,0,0.3);
    padding: 2px;
    width: 100%;
}
.input_section{
display: flex;
width: 100%;
}
.chat_area{
    background: rgba(209, 208, 208, 0.3);
    overflow-y: scroll;
    height: 80%;
}
.chat_area::-webkit-scrollbar{
/* display: none; */
}
.match{
    background: greenyellow;
}

.chatbox_container textarea{
    flex:1;
}

.chatbox_container input{
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 5px 10px;
    font-weight: 800;
    /* outline: none; */
}
.chatbox_container input:focus{
    outline: 1px solid #13a987;
}

.chatbox_container button{
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(178, 200, 249, 0.2);
    background: rgba(0,0,0,0.2);
    background: #13a987;
    color: #fff;
    cursor: pointer;
    /* max-width: 150px; */
    display: inline;
    font-weight: 500;
}
.chatbox_container button:hover{
    color: #13a987;
    border: 1px solid #13a987;
    background: rgba(249, 250, 253, 0.95);
    /* background: transparent; */
}